<h1>Dos Commas Inventory</h1>
{{#if published}}
    {{content}}
{{/if}}
<ul class = "list-group">
{{#each inventory}}
    <li class = "list-group-item names" id = "names" aria-current = "true">{{this.id}} {{this.sex}} {{this.style}} {{this.size}}</li>
{{/each}}
</ul>
<button id = "button-click">click</button>

